/vendor
/node_modules
/public/storage
/public/files
/public/dasai
Homestead.yaml
Homestead.json
.env
.idea
_ide_helper.php
.phpstorm.meta.php
.git
.DS_Store
/public/.DS_Store
/public/download/.DS_Store